html {
    background: url('https://wallpapercave.com/wp/wp8538856.jpg');
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    text-align: center;
    margin: 0;
    overflow: auto;
}

input{
    border-radius: 8px 8px 8px 8px;
}

p {
    background-color: rgba(63, 209, 195,0.3); /*rgba(53, 128, 226, 0.5);*/
    margin: 40px;
    padding: 10px;
    border: aqua dotted ;
    border-radius: 8px 8px 8px 8px;
}

.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url('https://wallpapercave.com/wp/wp8538856.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: black;
    font-size: 35px;
    
    font-family: 'Patrick Hand', cursive;     /*'Press Start 2P', cursive;*/
}



.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: chartreuse;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.innerbg{
    margin-top: 8%;
    border-radius: 8px 8px 8px 8px;
    background-color: rgba(241, 241, 206,0.4);
    height: 75%;
    width: 75%;
    margin-left: 12.5%;
    border:black dotted 3px;

}

select{
    background-color: beige;
    border-radius: 8px 8px 8px 8px;
}

input{
    background-color: beige;
}

#play_but{
    height: 50px;
    width: 200px;
    margin-left: 2.5%;
    border-radius: 8px 8px 8px 8px;
    background-color: yellow;
}

#play_but:hover{
    background-color: royalblue;
}

h1{
    margin-top: 2%;
    position: absolute;
    margin-left: 42.5%;
    color: gold;
    font-size: 60px;
    animation: an1 2s ease-in-out infinite;
    text-decoration: underline;
}

.spinner{
    height: 100px;
    width: 100px;
    margin-top: 20vh;
}

.game_answers{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:5px black;
}

.game_answers>button{
    margin-bottom: 15px;
    height:5%;
    width:45%;
    border-radius:16px 16px 16px 16px;
    background-color: yellow;
}

.game_answers>button:hover{
    background-color: lightgreen;
}
.game_answers>button:focus{
    outline:none;
}

.score{
    margin-top: 15%;
    height:85%;
    width:85%;
    margin-left:7%;
}
.score>p{
    background-color: rgba(15, 54, 50,0.8);
    color: gold;
}

.score>button{
    border-radius: 12px 12px 12px 12px;
    background-color: gold;
    color: black;
}


#intropg{
    margin-top: 8%;
}

@keyframes an1{
    0%{
        color: gold;
    }
    25%{
        color: rgb(255, 25, 25);
    }
    75%{
        color:greenyellow;
    }
    100%{
        color:gold;
    }
}

@media screen and (max-width:600px) {
    .innerbg{
        font-size: 20px;
        margin-top: 36%;
    }

    h1{
        margin: 20%;
        margin-left: 28%;
        font-size: 45px;
    }

    #intropg{
        margin-top: 37%;
    }

    #play_but{
        height:50px;
        width:100px;
    }
    .score{
        margin-top: 35%;
    }

    .game_answers>button{
        height:9%;
        width:85%;
    }
    #timer{
        height: 70%;
        width: 50%;
    }
}
